  {% macro create_fields(n) -%}
        {% for n2 in n.children -%}
        {% if n2.name != 'SN': -%}
        //{{n2.comment}}
        {% if n2.type == 'array': -%}
        public List<{{  n2.children[0].type_name }}> {{ n2.name + 'List' }};                
        {% else -%}
        {{ n2.name[0].upper() + n2.name[1:] }} {{ n2.type_name }};
        {% endif %}
        {% endif %}
        {%- endfor %}    
    {%- endmacro %}   
package config
type {{ name }} struct {
    {{create_fields(node)}}
	
}